bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Library Management System/appsettings.json
appsettings.json
./appsettings.json
Library Management System/appsettings.json
Library Management System.slnn